.box {
    border: 4px solid grey;
    background-color: white;
}

.ball {
    display: inline-block;
    width: 10%;
    height: 10%;
    margin: 50% auto;
    border-radius: 50%;
    animation: bounce 0.7s infinite, changingColors 3s infinite;
    animation-play-state: paused, paused;
}

.bouncing {
    animation-play-state: running, paused;
}

.changingColors {
    animation-play-state: paused, running;
}

.bouncingAndChangingColors {
    animation-play-state: running, running;
}

.noBoucingAndNoChangingColors {
    animation-play-state: paused, paused;
}

.red {
    border: 4px solid orangered;
    background-color: orangered !important;
}

.green {
    border: 4px solid yellowgreen;
    background-color: yellowgreen !important;
}

.blue {
     border: 4px solid deepskyblue;
     background-color: deepskyblue !important;
 }

@keyframes changingColors {
    0% {
        background-color: orangered;
    }
    50% {
        background-color: yellowgreen;
    }
    100% {
        background-color: deepskyblue;
    }
}

@keyframes bounce {
    10% {
        transform: translateY(0%);
    }
    50% {

        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0%);
    }
}

